html{
    background: black;
    color: azure;
}
img{
    background-color: black;
}

        .header {
            display: flex; 
            align-items: center; 
        }
        .header img {
            width: 70px; 
            margin-right: 10px; /* Add some space */
        }
        .header h1 {
            text-align: center; 
        }

a{
    color: green;
}

tr.top {
        background-color: #FFD700; 
        color: #FF0000;
    }
em {
        background-color: blue;
        color: white; 
    }
#the_most_important {
        text-transform: uppercase;
        background-color: gold;
    }


