html{
    background: black;
    color: azure;
}
img{
    background-color: black;
}

        .header {
            display: flex; 
            align-items: center; 
        }
        .header img {
            width: 70px; 
            margin-right: 10px; /* Add some space */
        }
        .header h1 {
            text-align: center; 
        }
